@page "/"
@using BlazorBootstrap
@using BlazorScheduler
@using ProjectIDFMobile.Components.Pages
@using ProjectIDFMobile.Class;
@using Microsoft.AspNetCore.Components
@using ProjectIDFMobile.Models
@inject NavigationManager NV
@inject AuthService AuthComset
@inject DataService DataService 

<Toasts class="p-3" Messages="messages" Delay="6000" AutoHide="true" Placement="ToastsPlacement.TopRight" />
<section>
    <div class="container-fuild">
        <h3>IDF-Back<sapn>Home</sapn></h3>
        <div id="label">
            <div class="row p-2">
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>All-Project </h6>
                                    <Icon Name="IconName.Clipboard" Color="IconColor.Info"></Icon>
                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.ProjectTotal.ToString()</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>All-Draft</h6>
                                    <Icon Name="IconName.PersonWorkspace" Color="IconColor.Info"></Icon>
                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.CountDrafr.ToString()</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>All-Brand</h6>
                                    <Icon Name="IconName.Box2Heart" Color="IconColor.Info"></Icon>
                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.Brand.ToString()</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>Model</h6>
                                    <Icon Name="IconName.Box" Color="IconColor.Info"></Icon>
                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.ModelNameTotal.ToString()</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>Type</h6>
                                    <Icon Name="IconName.Box2" Color="IconColor.Warning"></Icon>

                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.AllType</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>All-Work</h6>
                                    <Icon Name="IconName.Boxes" Color="IconColor.Warning"></Icon>

                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.TotalJobs.ToString()</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>Finish</h6>
                                    <Icon Name="IconName.BoxSeam" Color="IconColor.Success"></Icon>
                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.FinishedJobs</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
                <div class="col">
                    <Card>
                        <CardBody>
                            <CardTitle>
                                <div class="d-flex justify-content-between">
                                    <h6>(Not)Finish</h6>
                                    <Icon Name="IconName.BoxSeam" Color="IconColor.Danger"></Icon>
                                </div>
                            </CardTitle>
                            <CardText>
                                @if (rdQueryModel != null)
                                {
                                    <h3>@rdQueryModel.PendingJobs</h3>
                                }
                                else
                                {
                                    <p>NULL</p>
                                }
                            </CardText>
                        </CardBody>
                    </Card>
                </div>
            </div>
        </div>

        <div class="p-2">
            <Tabs EnableFadeEffect="true">

                <Tab Name="Table" IsActive="true">
                    <TitleTemplate>
                        <Icon Name="IconName.Table" /> Table
                    </TitleTemplate>
                    <Content>
                        <div class="text-center p-2">
                            <h6>ตารางบันทึกงาน</h6>
                        </div>
                        <div class="mb-2 input-group">
                            <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="/create">
                                <Icon Name="IconName.Table"></Icon> เพิ่มงาน
                            </Button>
                            <Button Color="ButtonColor.Info" Type="ButtonType.Reset" @onclick="@(e => Refreshing())">
                                <Icon Name="IconName.ArrowClockwise"></Icon> รีเฟชร
                            </Button>
                        </div>

                        <div>
                            <Grid Class="table table-hover table-bordered table-striped"
                                  TItem="RdActual"
                                  DataProvider="DataProvider"
                                  HeaderRowCssClass="bg-primary text-white border-bottom-0"
                                  AllowPaging="true"
                                  Responsive="true">

                                <GridColumn TItem="RdActual" HeaderText="Article" HeaderTextAlignment="Alignment.Center">
                                    @context.Article
                                </GridColumn>
                                <GridColumn TItem="RdActual" HeaderText="Project" HeaderTextAlignment="Alignment.Center">
                                    @context.ProjectName
                                </GridColumn>
                                <GridColumn TItem="RdActual" HeaderText="Team"
                                            HeaderTextAlignment="Alignment.Center">
                                    @context.TeamName
                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="Draftman"
                                            HeaderTextAlignment="Alignment.Center">
                                    @context.DraftmanName
                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="GroupCap"
                                            HeaderTextAlignment="Alignment.Center">
                                    @context.CapName
                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="QTY"
                                            HeaderTextAlignment="Alignment.Center">
                                    @context.CapQty
                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="Status"
                                            HeaderTextAlignment="Alignment.Center">
                                    <p>
                                        @if (context.OptionsSelect == "เสร็จสิ้น")
                                        {
                                            @context.OptionsSelect <Icon Name="IconName.PatchCheckFill" Color="IconColor.Success"></Icon>
                                        }
                                        else if (context.OptionsSelect == "เปิดงาน")
                                        {
                                            @context.OptionsSelect <Icon Name="IconName.PatchExclamationFill" Color="IconColor.Info"></Icon>
                                        }
                                        else if (context.OptionsSelect == "อัพเดท" || context.OptionsSelect == "โยกย้ายงาน")
                                        {
                                            @context.OptionsSelect <Icon Name="IconName.PatchExclamationFill" Color="IconColor.Warning"></Icon>
                                        }
                                        else if (context.OptionsSelect == "จองงาน")
                                        {
                                            @context.OptionsSelect <Icon Name="IconName.PatchMinusFill" Color="IconColor.Primary"></Icon>
                                        }
                                        else
                                        {
                                            @context.OptionsSelect <Icon Name="IconName.PatchMinusFill" Color="IconColor.Danger"></Icon>
                                        }
                                    </p>

                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="Detail"
                                            HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                    <Button Color="ButtonColor.Primary" @onclick="@(e => NavigateToDetail(context.Article.ToString()))" Type="ButtonType.Link">Detail</Button>
                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="Edit"
                                            HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                    @if (context.OptionsSelect != "เสร็จสิ้น")
                                    {
                                        <Button Color="ButtonColor.Info" @onclick="@(e => NavigateToEdit(context.Article.ToString()))" Type="ButtonType.Link">Edit</Button>
                                    }
                                </GridColumn>

                                <GridColumn TItem="RdActual" HeaderText="Delete"
                                            HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                    <Button Color="ButtonColor.Danger" @onclick="@(e => Delete(context.Article))" Type="ButtonType.Button">Delete</Button>
                                </GridColumn>

                            </Grid>
                        </div>

                    </Content>
                </Tab>

                <Tab>
                    <TitleTemplate>
                        <Icon Name="IconName.FileEarmarkText" /> Reports
                    </TitleTemplate>
                    <Content>
                        <div class="text-center p-2"><h6>รายงาน</h6></div>
                        <Grid Class="table table-hover table-bordered table-striped"
                              DataProvider="DataProviderReports"
                              Responsive="true"
                              TItem="RdListReport">
                            <GridColumn TItem="RdListReport" HeaderText="Name" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                @context.NameReports
                            </GridColumn>
                            <GridColumn TItem="RdListReport" HeaderText="Date" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                @context.DateCurrent
                            </GridColumn>
                            <GridColumn TItem="RdListReport" HeaderText="ReportSource" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                @context.SsrsReports
                            </GridColumn>
                            <GridColumn TItem="RdListReport" HeaderText="Options" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                                <div>
                                    <Button Color="ButtonColor.Info" Type="ButtonType.Button">Detail</Button>
                                    <Button Color="ButtonColor.Success" @onclick="@(a => NavigateToReport(context.NameReports))">Go</Button>
                                </div>
                            </GridColumn>
                        </Grid>
                    </Content>
                </Tab>

                <Tab>
                    <TitleTemplate>
                        <Icon Name="IconName.PeopleFill"></Icon> Calendar
                    </TitleTemplate>
                    <Content>
                        <div>
                            <div class="text-center  p-2">ปฏิทินรายทีม</div>
                            <div class="border border-1 shadow-sm bg-body">
                                <Scheduler StartDayOfWeek="DayOfWeek.Sunday" TodayButtonText="วันนี้" AlwaysShowYear="true">
                                    <Appointments>
                                        @foreach (var group in rdCalendars
                                         .SelectMany(app => GetDateRange(app.FirstDate, app.FinishDate)
                                         .Where(date => date.DayOfWeek != DayOfWeek.Saturday && date.DayOfWeek != DayOfWeek.Saturday)
                                         .Select(date => new { app.TeamName, app.OptionsSelect, app.CapName, app.Article, Date = date, app.FirstDate, app.FinishDate, app.TeamCode }))

                                         .GroupBy(x => new { x.TeamName, x.TeamCode, x.Date }))
                                        {
                                            var app = group.First();
                                            if (app.OptionsSelect == "เปิดงาน" || app.OptionsSelect == "อัพเดท")
                                            {
                                                <Appointment Color="#FFE4B5"
                                                             Start="@group.Key.Date"
                                                             End="@group.Key.Date">
                                                    <Button Class="btn btn-sm" @onclick="@(a => ActionDetail(group.Key.TeamName,group.Key.TeamCode,group.First().FirstDate,group.First().FinishDate))"><strong style="font-size:smaller">@group.Key.TeamName</strong></Button>
                                                </Appointment>
                                            }
                                            else if (app.OptionsSelect == "เสร็จสิ้น")
                                            {
                                                <Appointment Color="#AFE1AF"
                                                             Start="@group.Key.Date"
                                                             End="@group.Key.Date">
                                                    <Button Class="btn btn-sm" @onclick="@(a => ActionDetail(group.Key.TeamName,group.Key.TeamCode,group.First().FirstDate,group.First().FinishDate))"><strong style="font-size:smaller">@group.Key.TeamName</strong></Button>
                                                </Appointment>
                                            }
                                            else if (app.OptionsSelect == "งานจอง" && app.FirstDate == group.Key.Date)
                                            {
                                                <Appointment Style="border-radius:100px; font-family:Arial; color:black"
                                                             Color="#AFE1AF"
                                                             Start="@group.Key.Date"
                                                             End="@group.Key.Date">
                                                    <Button Class="btn btn-sm" @onclick="@(a => ActionDetail(group.Key.TeamName,group.Key.TeamCode,group.First().FirstDate,group.First().FinishDate))"><strong style="font-size:smaller">@group.Key.TeamName</strong></Button>
                                                </Appointment>
                                            }
                                        }
                                    </Appointments>
                                </Scheduler>
                            </div>
                        </div>
                    </Content>
                </Tab>

                <Tab>
                    <TitleTemplate>
                        <Icon Name="IconName.PersonFill"></Icon> Calenader(OnDraft)
                    </TitleTemplate>
                    <Content>
                        <div>
                            <div class="text-center p-2">ปฏิทินรายบุคคล</div>
                            <div class="input-group p-3">
                                <InputSelect class="form-select" @bind-Value="TeamItem">
                                    <option value="0">เลือก</option>
                                    @if (rdTeams != null)
                                    {
                                        foreach (var i in rdTeams)
                                        {
                                            <option value="@i.TeamCode">@i.TeamName</option>
                                        }
                                    }
                                </InputSelect>


                                <InputSelect class="form-select" @bind-Value="selectDraft" disabled="@IsDraftSelectDisable">
                                    <option value="0">เลือก</option>
                                    @if (rdDraftmen != null && TeamItem != 0)
                                    {
                                        foreach (var i in rdDraftmen.Where(a => a.TeamCode == TeamItem))
                                        {
                                            <option value="@i.DraftmanCode">@i.DraftmanName</option>
                                        }
                                    }
                                </InputSelect>


                                <input value="@selectDraft" class="form-control" hidden readonly />



                            </div>
                            <Scheduler StartDayOfWeek="DayOfWeek.Sunday" TodayButtonText="วันนี้" AlwaysShowYear="true">
                                <Appointments>
                                    @foreach (var app in rdActualPlanOptions.Where(a => a.DraftmanCode == selectDraft))
                                    {
                                        if (app.OptionsSelect == "เปิดงาน" || app.OptionsSelect == "อัพเดท")
                                        {
                                            foreach (var date in GetDateRange(app.FirstDate, app.FinishDate))
                                            {
                                                if (date.DayOfWeek != DayOfWeek.Saturday && date.DayOfWeek != DayOfWeek.Sunday)
                                                {
                                                    <Appointment Color="#72A0C1"
                                                                 Start="@date"
                                                                 End="@date">

                                                        <Button @onclick="@(a => ActionOndraft(app.Article,app.CapName))" Class="btn btn-sm"><strong>@app.Article|@app.CapName</strong></Button>
                                                    </Appointment>
                                                }
                                            }
                                        }
                                        else if (app.OptionsSelect == "เสร็จสิ้น")
                                        {
                                            foreach (var date in GetDateRange(app.FirstDate, app.FinishDate))
                                            {
                                                if (date.DayOfWeek != DayOfWeek.Saturday && date.DayOfWeek != DayOfWeek.Sunday)
                                                {
                                                    <Appointment Color="#008000"
                                                                 Start="@date"
                                                                 End="@date">

                                                        <Button @onclick="@(a => ActionOndraft(app.Article,app.CapName))" Class="btn btn-sm"><strong class="text-white">@app.Article|@app.CapName</strong></Button>
                                                    </Appointment>
                                                }
                                            }
                                        }
                                        else if (app.OptionsSelect == "งานจอง")
                                        {
                                            <Appointment Color="#72A0C1"
                                                         Start="@app.FirstDate"
                                                         End="@app.FirstDate">
                                                <Button @onclick="@(a => ActionOndraft(app.Article,app.CapName))" Class="btn btn-sm"><strong>*****@app.Article*****</strong></Button>
                                            </Appointment>
                                        }
                                        else
                                        {

                                        }
                                    }
                                </Appointments>
                            </Scheduler>
                        </div>
                    </Content>
                </Tab>

                <Tab Name="Chart" ElementId="chartID">
                    <TitleTemplate>
                        <Icon Name="IconName.BarChartFill" /> Chart
                    </TitleTemplate>
                    <Content>
                        <div class="p-2">
                            <BarChart @ref="barChart" />
                        </div>
                    </Content>
                </Tab>
            </Tabs>
        </div>
    </div>
</section>


<ConfirmDialog @ref="dialog"></ConfirmDialog>
<ConfirmDialog @ref="dialog2"></ConfirmDialog>
<Preload LoadingText="Loading..."></Preload>
