@page "/manager"

@using BlazorBootstrap
@using BlazorScheduler
@using Microsoft.AspNetCore.Components
@using ProjectIDFMobile.Models
@inject NavigationManager NV

<Toasts class="p-3" Messages="messages" Delay="5000" Placement="ToastsPlacement.TopRight" />
<section class="content">
    <div class="container-fuild">
        <div class="justify-content-between pb-2">
            <div class="input-group">
                <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="/">
                    <Icon Name="IconName.House"></Icon> หน้าแรก
                </Button>

                <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="/create">
                    <Icon Name="IconName.Table"></Icon> เพิ่มงาน
                </Button>
            </div>
        </div>

        <Tabs>
            <Tab Title="Project">
                <TitleTemplate>
                    <Icon Name="IconName.InboxesFill"></Icon> Project
                </TitleTemplate>
                <Content>
                    <div class="m-2" id="project">
                        <h4>Manager : Project</h4>
                        <EditForm Model="@project" OnValidSubmit="@SubmitProject">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div id="project">
                                <div class="input-group">


                                    <div class="form-floating">
                                        <InputNumber TValue="int" class="form-control" @bind-Value="IDProject"></InputNumber>
                                        <label>ID</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="ProjectNames"></InputText>
                                        <label>Name</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="OwerProject"></InputText>
                                        <label>Owner</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="Deskip"></InputText>
                                        <label>Deskip</label>
                                    </div>


                                    <Button Type="ButtonType.Submit" Outline="true" Color="ButtonColor.Success">Save</Button>
                                    <Button Type="ButtonType.Button" Outline="true" @onclick="@(e => UpdateProject(IDProject))" Color="ButtonColor.Warning">Update</Button>
                                </div>
                            </div>

                        </EditForm>

                        <div id="gridProject">
                            @if (rdPorject != null)
                            {
                                <Grid TItem="RdHeadProject"
                                      Class="table table-hover table-bordered table-striped"
                                      DataProvider="DataProviderProject"
                                      HeaderRowCssClass="bg-info text-white border-bottom-0"
                                      AllowPaging="true"
                                      Responsive="true">

                                    <GridColumn TItem="RdHeadProject" HeaderText="ID" PropertyName="ID" HeaderTextAlignment="Alignment.Center">@context.CodeProject</GridColumn>
                                    <GridColumn TItem="RdHeadProject" HeaderText="Name" PropertyName="Name" HeaderTextAlignment="Alignment.Center">@context.ProjectName</GridColumn>
                                    <GridColumn TItem="RdHeadProject" HeaderText="Owner" PropertyName="Owner" HeaderTextAlignment="Alignment.Center">@context.ProjectOwner</GridColumn>
                                    <GridColumn TItem="RdHeadProject" HeaderText="Deskip" PropertyName="Deskip" HeaderTextAlignment="Alignment.Center">@context.Deskip</GridColumn>
                                    <GridColumn TItem="RdHeadProject" HeaderText="Edit" PropertyName="Edit" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" Color="ButtonColor.Warning" Type="ButtonType.Button" @onclick="@(e => DetailProject(context.CodeProject))">Edit</Button>
                                    </GridColumn>

                                    <GridColumn TItem="RdHeadProject" HeaderText="Delete" PropertyName="Delete" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Type="ButtonType.Button" Outline="true" Color="ButtonColor.Danger" @onclick="@(e => DeleteProject(context.CodeProject))">Delete</Button>
                                    </GridColumn>
                                </Grid>
                            }
                            else
                            {

                            }

                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Brand">
                <TitleTemplate>
                        <Icon Name="IconName.BriefcaseFill"></Icon> Brand
                </TitleTemplate>
                <Content>
                    <div class="m-2" id="brand">
                        <h4>Manager : Brand</h4>
                        <EditForm Model="@rdBrand" OnValidSubmit="SubmitBrand">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div id="inputItem">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <InputNumber TValue="int" class="form-control" @bind-Value="LastNumber"></InputNumber>
                                        <label>Number</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="init"></InputText>
                                        <label>InitialsBrand</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="name"></InputText>
                                        <label>NameBrand</label>
                                    </div>

                                    <Button Outline="true" Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
                                    <Button Outline="true" Type="ButtonType.Button" @onclick="@(a=> UpdateBrand(LastNumber))" Color="ButtonColor.Warning">Update</Button>
                                </div>
                            </div>
                        </EditForm>


                        <div id="gridBrand">
                            @if (rdBrands != null)
                            {
                                <Grid TItem="RdBrand"
                                      Class="table table-hover table-bordered table-striped"
                                      DataProvider="DataProvider"
                                      HeaderRowCssClass="bg-info text-white border-bottom-0"
                                      AllowPaging="true"
                                      AllowSorting="true"
                                      Responsive="true">

                                    <GridColumn TItem="RdBrand" HeaderText="NumberBrand" SortKeySelector="item => item.BrandNumber" PropertyName="NumberBand" HeaderTextAlignment="Alignment.Center">@context.BrandNumber</GridColumn>
                                    <GridColumn TItem="RdBrand" HeaderText="InitialsBrand" PropertyName="InitialsBrand" HeaderTextAlignment="Alignment.Center">@context.InitialsBrand.</GridColumn>
                                    <GridColumn TItem="RdBrand" HeaderText="NameBrand" PropertyName="NameBrand" HeaderTextAlignment="Alignment.Center">@context.NameBrand</GridColumn>
                                    <GridColumn TItem="RdBrand" HeaderText="Edit" PropertyName="Edit" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" Color="ButtonColor.Warning" @onclick="@(e => DetailBrand(context.BrandNumber))">Edit</Button>
                                    </GridColumn>
                                    <GridColumn TItem="RdBrand" HeaderText="Delete" PropertyName="Delete" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" Color="ButtonColor.Danger" @onclick="@(e => DeleteBrand(context.BrandNumber))">Delete</Button>
                                    </GridColumn>
                                </Grid>
                            }
                            else
                            {

                            }
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Model">
                <TitleTemplate>
                    <Icon Name="IconName.BoxSeamFill"></Icon> Model
                </TitleTemplate>
                <Content>
                    <div class="m-2" id="cap">
                        <h4>Manager : Cap</h4>
                        <EditForm Model="rdCapP" OnValidSubmit="SubmitModel">
                            <div id="cap">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <InputNumber TValue="int" class="form-control" @bind-Value="IDModel"></InputNumber>
                                        <label>CapID</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="CapName"></InputText>
                                        <label>CapName</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="Types"></InputText>
                                        <label>Type</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputNumber TValue="int" class="form-control" @bind-Value="Standard"></InputNumber>
                                        <label>Standard</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputNumber TValue="int" class="form-control" @bind-Value="Copy"></InputNumber>
                                        <label>Copy</label>
                                    </div>
                                    <Button Outline="true" Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
                                    <Button Outline="true" Type="ButtonType.Button" @onclick="@(e => UpdateModel(IDModel))" Color="ButtonColor.Warning">Update</Button>
                                </div>
                            </div>
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </EditForm>
                        <div id="gridCap">
                            @if (rdCap != null)
                            {
                                <Grid TItem="RdCaoStandard"
                                      Class="table table-hover table-bordered table-striped"
                                      DataProvider="DataProviderCap"
                                      HeaderRowCssClass="bg-info text-white border-bottom-0"
                                      AllowPaging="true"
                                      Responsive="true">

                                    <GridColumn TItem="RdCaoStandard" HeaderText="ID" PropertyName="ID" HeaderTextAlignment="Alignment.Center">@context.CapId</GridColumn>
                                    <GridColumn TItem="RdCaoStandard" HeaderText="CapName" PropertyName="CapName" HeaderTextAlignment="Alignment.Center">@context.CapName</GridColumn>
                                    <GridColumn TItem="RdCaoStandard" HeaderText="Type" PropertyName="Type" HeaderTextAlignment="Alignment.Center">@context.GroupCap</GridColumn>
                                    <GridColumn TItem="RdCaoStandard" HeaderText="Standard" PropertyName="Standard" HeaderTextAlignment="Alignment.Center">@context.CapStandard</GridColumn>
                                    <GridColumn TItem="RdCaoStandard" HeaderText="Copy" PropertyName="Copy" HeaderTextAlignment="Alignment.Center">@context.CapCopy</GridColumn>
                                    <GridColumn TItem="RdCaoStandard" HeaderText="Edit" PropertyName="Edit" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" Color="ButtonColor.Warning" @onclick="@(a => DetailModel(context.CapId))">Edit</Button>
                                    </GridColumn>
                                    <GridColumn TItem="RdCaoStandard" HeaderText="Delete" PropertyName="Delete" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" Color="ButtonColor.Danger" @onclick="@(a => DeleteModel(context.CapId))">Delete</Button>
                                    </GridColumn>
                                </Grid>
                            }
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="TeamAndDraft">
                <TitleTemplate>
                    <Icon Name="IconName.PersonFill"></Icon> Draftman
                </TitleTemplate>
                <Content>
                    <div class="row">
                        <div class="col">
                            <div class="m-2" id="team">
                                <h4>Manager : Team</h4>
                                <EditForm Model="team" OnValidSubmit="SubmitTeam">
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    <div id="inputItem">
                                        <div class="input-group">
                                            <div class="form-floating">
                                                <InputNumber TValue="int" class="form-control" @bind-Value="TeamCode"></InputNumber>
                                                <label>TeamCdoe</label>
                                            </div>

                                            <div class="form-floating">
                                                <InputText class="form-control" @bind-Value="TeamName"></InputText>
                                                <label>TeamName</label>
                                            </div>

                                            <div class="form-floating">
                                                <InputText  class="form-control" @bind-Value="BossName"></InputText>
                                                <label>Boss</label>
                                            </div>
                                            <Button Outline="true" Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
                                            <Button Outline="true" Type="ButtonType.Button" @onclick="@(e => UpdateTeam(TeamCode))" Color="ButtonColor.Warning">Update</Button>
                                        </div>
                                    </div>
                                </EditForm>


                                <div id="gridBrand">
                                    @if (rdTeams != null)
                                    {
                                        <Grid TItem="RdTeam"
                                              Class="table table-hover table-bordered table-striped"
                                              DataProvider="DataProviderTeam"
                                              HeaderRowCssClass="bg-info text-white border-bottom-0"
                                              AllowPaging="true"
                                              Responsive="true">

                                            <GridColumn TItem="RdTeam" HeaderText="ID" PropertyName="ID" HeaderTextAlignment="Alignment.Center">@context.TeamCode</GridColumn>
                                            <GridColumn TItem="RdTeam" HeaderText="Name" PropertyName="Name" HeaderTextAlignment="Alignment.Center">@context.TeamName.</GridColumn>
                                            <GridColumn TItem="RdTeam" HeaderText="Boss" PropertyName="Boss" HeaderTextAlignment="Alignment.Center">@context.BossName</GridColumn>
                                            <GridColumn TItem="RdTeam" HeaderText="Edit" PropertyName="Edit" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                                <Button Outline="true" Color="ButtonColor.Warning" @onclick="@(e => DetailTeam(context.TeamCode))">Edit</Button>
                                            </GridColumn>
                                            <GridColumn TItem="RdTeam" HeaderText="Delete" PropertyName="Delete" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                                <Button Outline="true" Color="ButtonColor.Danger" @onclick="@(e => DeleteTeam(context.TeamCode))">Delete</Button>
                                            </GridColumn>
                                        </Grid>
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="m-2" id="Draft">
                                <h4>Manager : Draftman</h4>
                                <div id="inputItem">
                                    <EditForm Model="rdDraftman" OnValidSubmit="SubmitDraft">
                                        <DataAnnotationsValidator />
                                        <ValidationSummary />
                                        <div class="input-group">
                                            <div class="form-floating">
                                                <InputNumber TValue="int" class="form-control" @bind-Value="draftmanCode"></InputNumber>
                                                <label>ID</label>
                                            </div>

                                            <div class="form-floating">
                                                <InputText class="form-control" @bind-Value="draftmanName"></InputText>
                                                <label>DraftmanName</label>
                                            </div>

                                            <div class="form-floating">
                                                <InputNumber TValue="int" class="form-control" @bind-Value="TeamCodes"></InputNumber>
                                                <label>Team</label>
                                            </div>
                                            <Button Outline="true" Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
                                            <Button Outline="true" Type="ButtonType.Button" @onclick="@(e => UpdateDraft(draftmanCode))" Color="ButtonColor.Warning">Update</Button>
                                        </div>
                                    </EditForm>
                                </div>

                                <div id="gridBrand">
                                    @if (rdDraftmen != null)
                                    {
                                        <Grid TItem="RdDraftman"
                                              Class="table table-hover table-bordered table-striped"
                                              DataProvider="DataProviderTeam"
                                              HeaderRowCssClass="bg-info text-white border-bottom-0"
                                              AllowPaging="true"
                                              Responsive="true">

                                            <GridColumn TItem="RdDraftman" HeaderText="DraftmanCode" PropertyName="DraftmanCode" HeaderTextAlignment="Alignment.Center">@context.DraftmanCode</GridColumn>
                                            <GridColumn TItem="RdDraftman" HeaderText="DraftmanName" PropertyName="DraftmanName" HeaderTextAlignment="Alignment.Center">@context.DraftmanName.</GridColumn>
                                            <GridColumn TItem="RdDraftman" HeaderText="TeamCode" PropertyName="TeamCode" HeaderTextAlignment="Alignment.Center">@context.TeamCode</GridColumn>
                                            <GridColumn TItem="RdDraftman" HeaderText="Edit" PropertyName="Edit" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                                <Button Outline="true" Color="ButtonColor.Warning" @onclick="@(e => DetailDraft(context.DraftmanCode))">Edit</Button>
                                            </GridColumn>
                                            <GridColumn TItem="RdDraftman" HeaderText="Delete" PropertyName="Delete" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                                <Button Outline="true" Color="ButtonColor.Danger" @onclick="@(e => DeleteDraft(context.DraftmanCode))">Delete</Button>
                                            </GridColumn>
                                        </Grid>
                                    }
                                    else
                                    {

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </Content>
            </Tab>
            <Tab Title="Month">
                <TitleTemplate>
                    <Icon Name="IconName.FileEarmarkBinaryFill"></Icon> Month
                </TitleTemplate>
                <Content>
                    <div class="m-2" id="cap">
                        <h4>Manager : CapInMonth</h4>
                        <div id="cap">
                            <EditForm Model="month" OnValidSubmit="SubmitMonth" > 
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="input-group">

                                    <div class="form-floating">
                                        <InputText class="form-control" @bind-Value="MonthName"></InputText>
                                        <label>Month</label>
                                    </div>

                                    <div class="form-floating">
                                        <InputNumber TValue="int" class="form-control" @bind-Value="MontCap"></InputNumber>
                                        <label>Cap</label>
                                    </div>
                                    <Button Outline="true" hidden Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
                                    <Button Outline="true" Type="ButtonType.Button" @onclick="@(e => UpdateMonth(MontCount))" Color="ButtonColor.Warning">Update</Button>
                                </div>
                            </EditForm>

                        </div>

                        <div id="gridCap">
                            @if (rdMonths != null)
                            {
                                <Grid TItem="RdMonth"
                                      Class="table table-hover table-bordered table-striped"
                                      DataProvider="DataProviderMonth"
                                      HeaderRowCssClass="bg-info text-white border-bottom-0"
                                      AllowPaging="true"
                                      Responsive="true">

                                    <GridColumn TItem="RdMonth" HeaderText="Name" PropertyName="Name" HeaderTextAlignment="Alignment.Center">@context.MonthName</GridColumn>
                                    <GridColumn TItem="RdMonth" HeaderText="InMonth" PropertyName="Inmoth" HeaderTextAlignment="Alignment.Center">
                                        @context.CapInMonth
                                    </GridColumn>

                                    <GridColumn TItem="RdMonth" HeaderText="Edit" PropertyName="Edit" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" @onclick="@(a => DetailMonth(context.MonthCount))" Color="ButtonColor.Warning">Edit</Button>
                                    </GridColumn>
                                    <GridColumn TItem="RdMonth" HeaderText="Delete" PropertyName="Delete" TextAlignment="Alignment.Center" HeaderTextAlignment="Alignment.Center">
                                        <Button Outline="true" Color="ButtonColor.Danger" @onclick="@(a=> DeleteMonth(context.MonthCount))">Delete</Button>
                                    </GridColumn>
                                </Grid>
                            }
                            else{}
                        </div>
                    </div>
                </Content>
            </Tab>
        </Tabs>
    </div>
</section>

<ConfirmDialog @ref="dialog"></ConfirmDialog>
