@page "/create"
@using BlazorBootstrap
@using ProjectIDFMobile.Class
@using System.Globalization
@inject SweetAlertService Swal
@using Microsoft.Maui.Controls
@inject NavigationManager NV
@inject AuthService authService
@inject DataService DataService 

<Toasts class="p-3" Messages="messages" Delay="6000" AutoHide="true" Placement="ToastsPlacement.TopRight" />


<section class="content">
    <div class="container-fuild">
        <div>
            <div class="justify-content-between pb-2">
                <div class="input-group">
                    <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="/">
                        <Icon Name="IconName.House"></Icon> หน้าแรก
                    </Button>

                    <Button Color="ButtonColor.Danger" Type="ButtonType.Link" @onclick="ToManager">
                        <Icon Name="IconName.Database"></Icon> ฐานข้อมูล
                    </Button>

                    <Button Color="ButtonColor.Info" Type="ButtonType.Button">
                        <Icon Name="IconName.Paperclip" @onclick="@(a => NV.Refresh())"></Icon> รีเฟรช
                    </Button>
                </div>
            </div>
            </div>
            <EditForm Model="@Rap" OnValidSubmit="@Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col">
                        <div class="h-100 rounded">
                            <div class="card">
                                <div class="card-header">
                                    <h6>Save Value</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="row g-2">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <NumberInput TValue="int" @bind-Value="ThaiDateAriicle"></NumberInput>
                                                    <label>Article</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <DateInput TValue="DateTime"
                                                               @ref="dateInput"
                                                               @bind-Value="Recording"
                                                               Placeholder="Enter Date" />
                                                    <label>Record</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <DateInput TValue="DateTime"
                                                               @ref="dateInput"
                                                               @bind-Value="FirstDate"
                                                               Placeholder="Enter Date" />
                                                    <label>FirstDate</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <DateInput TValue="DateTime"
                                                               @ref="dateInput"
                                                               @bind-Value="EndDate"
                                                               Placeholder="Enter Date" />
                                                    <label>EndDate</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" @onchange="OnChangeTeam">
                                                        <option value="0" selected>เลือก</option>
                                                        @if (rdTeams != null)
                                                        {
                                                            foreach (var i in rdTeams)
                                                            {
                                                                <option value="@i.TeamCode">@i.TeamName</option>
                                                            }
                                                        }
                                                        else { }
                                                    </select>
                                                    <label>Team</label>
                                                </div>
                                            </div>

                                            <div class="col" hidden>
                                                <div class="input-group">
                                                    <input value="@TeamItem" class="form-control" readonly />
                                                    <input value="@TeamName" type="text" class="form-control" readonly />
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select @onchange="OnCahngeDarftman" class="form-select" disabled="@IsDraftSelectDisable">
                                                        <option value="0" selected>เลือก</option>
                                                        @if (rdDraftmen != null && TeamItem != 0)
                                                        {
                                                            foreach (var i in rdDraftmen.Where(a => a.TeamCode == TeamItem))
                                                            {
                                                                <option value="@i.DraftmanCode">@i.DraftmanName</option>
                                                            }
                                                        }
                                                    </select>
                                                    <label>Draftman</label>
                                                </div>
                                            </div>

                                            <div class="col" hidden>
                                                <div class="input-group">
                                                    <input value="@SelectDraftMan" class="form-control" readonly />
                                                    <input value="@DraftmanName" type="text" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row g-3">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputSelect @bind-Value="Brand" class="form-select" disabled="@IsBrandDisable">
                                                        <option value="เลือก" selected>เลือก</option>
                                                        @if (rdBrands != null)
                                                        {
                                                            foreach (var b in rdBrands)
                                                            {
                                                                <option value="@b.InitialsBrand">@b.NameBrand</option>
                                                            }
                                                        }
                                                    </InputSelect>
                                                    <label>Brand</label>
                                                </div>
                                            </div>



                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputSelect @bind-Value="TypeMM" class="form-select" disabled="@IsTypeDisble">
                                                        <option value="เลือก" selected>เลือก</option>
                                                        <option value="MockUP">MockUP</option>
                                                        <option value="MockUP Floor">MockUP Floor</option>
                                                        <option value="Mass">Mass</option>
                                                    </InputSelect>
                                                    <label>Type</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row g-3">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" @onchange="OnChangeProject" disabled="@IsProjectDisable">
                                                        <option value="0" selected>เลือก</option>
                                                        @if (rdHeadProjects != null)
                                                        {
                                                            foreach (var i in rdHeadProjects)
                                                            {
                                                                <option value="@i.CodeProject">@i.ProjectName</option>
                                                            }
                                                        }
                                                    </select>
                                                    <label for="floatingInput">Series Name</label>
                                                </div>
                                            </div>

                                            <div class="col" hidden>
                                                <div class="input-group">
                                                    <input type="number" value="@selectPjandCode" class="form-control" />
                                                    <input type="text" value="@ProjectName" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" @onchange="UpdateSelectCapStandaed" disabled="@IsGroupDisable">
                                                        <option value="0" selected>เลือก</option>
                                                        @if (rdCaoStandards != null)
                                                        {
                                                            foreach (var i in rdCaoStandards)
                                                            {
                                                                <option value="@i.CapName">
                                                                    @i.CapName
                                                                </option>
                                                            }
                                                        }
                                                    </select>
                                                    <label>GroupModel</label>
                                                </div>
                                            </div>


                                            <div class="col" hidden>
                                                <input @bind-value="CapNames" class="form-control" />
                                            </div>
                                        </div>


                                        <div class="row g-2">
                                            <div class="col">
                                                <div class="input-group mb-3 form-floating">
                                                    <NumberInput TValue="int" @bind-Value="tempModelValue" Class="form-control" />
                                                    <Button Outline="true" Type="ButtonType.Button" Color="ButtonColor.Success" @onclick="IncreaseValue">เพิ่ม</Button>
                                                    <Button Outline="true" Type="ButtonType.Button" Color="ButtonColor.Danger" @onclick="DecreaseValue">ลด</Button>
                                                    <label for="jobQty">จำนวน Model</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" value="@TypeModel" @onchange="HandleCaptypeChange" disabled="@IsNewModiflyDisable">
                                                        <option value="" selected>เลือก</option>
                                                        <option value="New">New</option>
                                                        <option value="Modify">Modify</option>
                                                        <option value="Auto">Auto</option>
                                                    </select>
                                                    <label>New/Modify</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <InputTextArea class="form-control" @bind-Value="Remark"></InputTextArea>
                                            <label for="floatingTextarea">Remark</label>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <Button Type="ButtonType.Submit" Outline="true" Color="ButtonColor.Primary">
                                                        <Icon Name="IconName.Save"></Icon> บันทึก
                                                    </Button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="h-100 rounded">
                            <div class="card">
                                <div class="card-header">
                                    <h6>Render</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="row">
                                            <div id="new">
                                                <h4>New</h4>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput TValue="int" @bind-Value="selectedCapStandard" Class="form-control" Style="background-color:white" readonly></NumberInput>
                                                            <label>Standard</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput TValue="int" Class="form-control" @bind-Value="Stand" Style="background-color:white" readonly="readonly" />
                                                            <label>ชั่วโมง</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput TValue="int" @bind-Value="StandDay" readonly Style="background-color:white" Class="form-control" />
                                                            <label>จำนวนวัน</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <DateInput TValue="DateTime" @bind-Value="date3" Class="form-control" readonly Style="background-color:white" />
                                                            <label>คาดเวลาจะเสร็จ</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput readonly TValue="int" @bind-Value="intMonth" Class="form-control" Style="background-color:white" />
                                                            <label>เดือน</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput readonly TValue="int" @bind-Value="TotalStand" Class="form-control" Style="background-color:white" />
                                                            <label>ชั่วโมงทั้งหมด</label>
                                                        </div>
                                                    </div>


                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput readonly TValue="int" @bind-Value="StandUsed" Class="form-control" Style="background-color:white" />
                                                            <label>ที่เหลือในเดือนนี้</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="modifly">
                                                <h4>Modifly</h4>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput class="form-control" TValue="int" @bind-Value="selectedCapCopy" Style="background-color:white" readonly />
                                                            <label>Copy</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput TValue="int" @bind-Value="Copy" Class="form-control" Style="background-color:white" readonly="readonly" />
                                                            <label>ชั่วโมง</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput readonly TValue="int" @bind-Value="CopyDay" Style="background-color:white" Class="form-control" />
                                                            <label>จำนวนวัน</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <DateInput TValue="DateTime" @bind-Value="date4" Class="form-control" Style="background-color:white" readonly />
                                                            <label>คาดเวลาจะเสร็จ</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput readonly TValue="int" @bind-Value="intMonth" Style="background-color:white" Class="form-control" />
                                                            <label>เดือน</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput readonly TValue="int" @bind-Value="TotalCopy" Style="background-color:white" Class="form-control" />
                                                            <label>ชั่วโมงทั้งหมด</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput TValue="int" @bind-Value="CopyUsed" Style="background-color:white" Class="form-control" readonly />
                                                            <label>ที่เหลือในเดือนนี้</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="auto">
                                                <h4>Auto</h4>
                                                <div class="row">

                                                    <div class="col" hidden="hidden">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="selectedCapStandard" readonly Style="background-color:white" />
                                                            <label>Standard</label>
                                                        </div>
                                                    </div>

                                                    <div class="col" hidden="hidden">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="selectedCapCopy" readonly Style="background-color:white" />
                                                            <label>Copy</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="StandCopy" readonly Style="background-color:white" />
                                                            <label>ชั่วโมง</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="StandCopyDay" readonly Style="background-color:white" />
                                                            <label>จำนวนวัน</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <DateInput Class="form-control" @bind-Value="date5" readonly Style="background-color:white" />
                                                            <label>คาดเวลาจะเสร็จ</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="intMonth" readonly Style="background-color:white" />
                                                            <label>เดือน</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="TotalStandCopy" readonly Style="background-color:white" />
                                                            <label>ชั่วโมงทั้งหมด</label>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-floating mb-3">
                                                            <NumberInput Class="form-control" @bind-Value="StanCopyUsed" readonly Style="background-color:white" />
                                                            <label>ที่เหลือในเดือนนี้</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>


        </div>
</section>
