@page "/detail/{article}"
@using ProjectIDFMobile.Models.dtoModel
@using BlazorBootstrap

@inject SweetAlertService Swal
@inject NavigationManager NV
@inject AuthService authService

<section class="content">
    <div class="container-fuild">
        <div class="justify-content-between pb-2">
            <div class="input-group">
                <Button To="/" Type="ButtonType.Link" Class="border border-1" Color="ButtonColor.Primary">หน้าแรก</Button>
                <Button Type="ButtonType.Link"  Class="border border-1" Color="ButtonColor.Info">รีเฟรช</Button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                        @if (rdActualPlans != null)
                        {
                            <div class="col">
                                <div id="headcontent">
                                    <h4>Article :<b>@rdActualPlans.Article</b></h4>
                                    <h4>Project :<b>@rdActualPlans.ProjectName</b></h4>

                                    <p>Brand : @rdActualPlans.InitialsBrand | GroupModel : @rdActualPlans.CapName</p>
                                    <p>Type : @rdActualPlans.TypeNames | New/Modifly : @rdActualPlans.CapType</p>

                                    <p>Team : @rdActualPlans.TeamName | DraftMan : @rdActualPlans.DraftmanName</p>
                                    <p>Start : @rdActualPlans.FirstDate.ToShortDateString() | End : @rdActualPlans.FinishDate.ToShortDateString()</p>

                                    <div>
                                        @if (rdActualPlans.OptionsSelect == "เสร็จสิ้น")
                                        {
                                            <span class="badge bg-success text-light">เสร็จสิ้น</span>
                                        }
                                        else if (rdActualPlans.OptionsSelect == "อัพเดท" || rdActualPlans.OptionsSelect == "เปิดงาน" || rdActualPlans.OptionsSelect == "โยกย้ายงาน")
                                        {
                                            <span class="badge bg-warning text-light">กำลังดำเนินการ</span>
                                        }
                                        else if (rdActualPlans.OptionsSelect == "งานจอง")
                                        {
                                            <span class="badge bg-primary text-light">เดือน : @rdActualPlans.FirstDate.Month</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-secondary text-light">ไม่มีสถานะ</span>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col">

                            </div>
                        }
                        else { <div>
                                   <h1>404 - NOT Found</h1>
                              </div>}
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    @if (rdActualPlanDtosHistory != null)
                    {
                        <Grid TItem="RdActualPlanDto"
                              Class="table table-hover table-bordered table-striped"
                              Responsive="true"
                              DataProvider="DataProvider">

                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="ประเภท" TextAlignment="Alignment.Center">@context.OptionsSelect</GridColumn>
                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="จำนวนงาน" TextAlignment="Alignment.Center">@context.CapQty</GridColumn>
                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="งานค้าง" TextAlignment="Alignment.Center">@context.JobNot</GridColumn>
                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="งานเสร็จ" TextAlignment="Alignment.Center">@context.JobFinish</GridColumn>
                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="จำนวนชั่วโมง" TextAlignment="Alignment.Center">@context.CapHour</GridColumn>
                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="วัน - เวลา" TextAlignment="Alignment.Center">@context.DTimeSave</GridColumn>
                            <GridColumn TItem="RdActualPlanDto" HeaderTextAlignment="Alignment.Center" HeaderText="หมายเหตุ" TextAlignment="Alignment.Center">@context.MovementGroup</GridColumn>
                        </Grid>
                    }
                    else { }
                </div>
            </div>
        </div>
    </div>
</section>