@page "/edit/{article}"
@using BlazorBootstrap
@using ProjectIDFMobile.Class
@inject NavigationManager NV
@inject AuthService authService
@inject DataService DataService 

<Toasts class="p-3" Messages="messages" Delay="6000" AutoHide="true" Placement="ToastsPlacement.TopRight" />

<section class="content">
    <div class="container-fuild">
        <div class="justify-content-between pb-2">
            <Button To="/" Type="ButtonType.Link" Class="border border-1" Color="ButtonColor.Primary">หน้าแรก</Button>
            <Button Type="ButtonType.Link" Class="border border-1" Color="ButtonColor.Info">รีเฟรช</Button>
        </div>

        <EditForm Model="@rdActualPlanDto" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="row">
                <div class="col">
                    <div class="h-100 rounded">
                        @if (rdActualPlans != null)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <h4>Article : @rdActualPlans.Article</h4>
                                    <h6>Project : @rdActualPlans.ProjectName</h6>
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <h6>
                                                    Model : @rdActualPlans.CapName
                                                    <span class="badge bg-info text-light">@rdActualPlans.CapStandard</span>
                                                    <span class="badge bg-warning text-light">@rdActualPlans.CapCopy</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <h6>Team : @rdActualPlans.TeamName | DraftMan : @rdActualPlans.DraftmanName</h6>
                                </div>

                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="row" id="colum1">
                                 
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputDate TValue="DateTime" class="form-control bg-white" @bind-Value="rdActualPlans.StartDate" readonly></InputDate>
                                                    <label>วันที่บันทึก</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputDate TValue="DateTime" class="form-control bg-white" @bind-Value="rdActualPlans.FirstDate" readonly></InputDate>
                                                    <label>วันที่เริ่ม</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputDate TValue="DateTime" class="form-control bg-white" @bind-Value="rdActualPlans.FinishDate" readonly></InputDate>
                                                    <label>วันที่เสร็จ</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="colum2">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" @onchange="OnchangeType">
                                                        <option value="" selected>เลือก</option>
                                                        <option value="โยกย้ายงาน">โยกย้ายงาน</option>
                                                        <option value="อัพเดท">อัพเดท</option>
                                                        <option value="เสร็จสิ้น">เสร็จสิ้น</option>
                                                    </select>
                                                    <label>รูปแบบ</label>
                                                </div>
                                            </div>


                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputText @bind-Value="rdActualPlans.InitialsBrand" class="form-control bg-white" readonly></InputText>
                                                    <label for="floatingInput">แบนด์</label>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row" id="colum3">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputText @bind-Value="rdActualPlans.CapName" class="form-control bg-white" readonly></InputText>
                                                    <label for="floatingInput">GroupModel</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputText @bind-Value="rdActualPlans.CapType" class="form-control bg-white" readonly></InputText>
                                                    <label for="floatingInput">New/Modify</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="colum4">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputNumber TValue="int" class="form-control bg-white" min="0" @bind-Value="rdActualPlans.CapQty" readonly></InputNumber>
                                                    <label>จำนวน Model</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputNumber TValue="int" class="form-control bg-white" @bind-Value="rdActualPlans.CapHour" readonly></InputNumber>
                                                    <label>จำนวนชั่วโมง</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="colum5">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputNumber TValue="int" class="form-control bg-white" @bind-Value="rdActualPlans.JobNot" readonly></InputNumber>
                                                    <label>งานค้าง</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group form-floating mb-3">
                                                    <InputNumber TValue="int" class="form-control bg-white" @bind-Value="rdActualPlans.JobFinish" readonly></InputNumber>
                                                    <Button Outline="true" Color="ButtonColor.Success" Type="ButtonType.Button" @onclick="IncreaseValueFinish">+</Button>
                                                    <Button Outline="true" Color="ButtonColor.Danger" Type="ButtonType.Button" @onclick="DecreaseValueFinish">-</Button>
                                                    <label>งานเสร็จ</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputTextArea class="form-control bg-white" @bind-Value="rdActualPlans.Remark" radonly></InputTextArea>
                                                    <label>หมายเหตุ</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="input-group form-group">
                                        <Button Outline="true" Color="ButtonColor.Warning" Type="ButtonType.Submit" >
                                            <Icon Name="IconName.Save" Color="IconColor.Warning"></Icon> อัพเดท
                                        </Button>
                                    </div>
                                </div>
                            </div>
                        }
                        else { }
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 rounded">
                        <div class="card">
                            @if (rdActualPlans != null)
                            {
                                <div class="card-header">
                                    <h4>Article(Movement) : @LastArticleId</h4>

                                    <h6>Project : @rdActualPlans.ProjectName</h6>
                                    <h6>
                                        Model : @rdActualPlans.CapName
                                        <span class="badge bg-info text-light">@rdActualPlans.CapStandard</span>
                                        <span class="badge bg-warning text-light">@rdActualPlans.CapCopy</span>
                                    </h6>

                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputText @bind-Value="workOpen" readonly class="form-control bg-white"></InputText>
                                                    <label>รูปแบบ</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputDate @bind-Value="FirstDate" class="form-control"></InputDate>
                                                    <label>วันที่เริ่ม</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputDate @bind-Value="FininshJob" class="form-control"></InputDate>
                                                    <label>กำหนดเสร็จ</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" @onchange="OnchangeTeam">
                                                        <option value="0" selected>เลือก</option>
                                                        @if (rdTeams != null)
                                                        {
                                                            foreach (var i in rdTeams)
                                                                {
                                                                
                                                                <option value="@i.TeamCode">@i.TeamName</option>
                                                                    //teamName = i.TeamName;
                                                                }
                                                         }
                                                            else { }
                                                    </select>
                                                    <label>Team</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating form-group mb-3">
                                                    <select class="form-select" @onchange="OnchangeDraft">
                                                        <option value="0" selected>เลือก</option>
                                                        @if (rdDraftmen != null)
                                                        {
                                                                foreach (var i in rdDraftmen.Where(a => a.TeamCode == selectedOptionValue))
                                                                {
                                                                    
                                                                    <option value="@i.DraftmanCode">@i.DraftmanName</option>
                                                                    //draftName = i.DraftmanName;
                                                                }
                                                            }
                                                    </select>
                                                    <label for="floatingInput">Draftman</label>
                                                </div>
                                            </div>
                             
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="input-group mb-3 form-floating">
                                                    <InputNumber TValue="int" @bind-Value="MovemenCapQty" class="form-control"></InputNumber>
                                                    <Button Outline="true" Color="ButtonColor.Success" Type="ButtonType.Button" @onclick="IncreaseValue">+</Button>
                                                    <Button Outline="true" Color="ButtonColor.Danger" Type="ButtonType.Button" @onclick="DecreaseValue">-</Button>
                                                    <label>จำนวน Model</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group form-floating mb-3">
                                                    <InputNumber TValue="int" @bind-Value="HourMovement" class="form-control"></InputNumber>
                                                    <InputNumber TValue="int" @bind-Value="DayMovemnt" class="form-control"></InputNumber>
                                                    <label>จำนวนชั่วโมง/จำนวนวัน</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputNumber TValue="int" class="form-control" @bind-Value="MovmentJobNot"></InputNumber>
                                                    <label>งานค้าง</label>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <InputNumber TValue="int" class="form-control" @bind-Value="MovementFinish"></InputNumber>
                                                    <label>งานเสร็จ</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <InputTextArea class="form-control" @bind-Value="Remark"></InputTextArea>
                                            <label>หมายเหตุ</label>
                                        </div>

                                    </div>

                                    <div class="input-group form-group">

                                    </div>

                                </div>
                            }
                            else { }
                        </div>
                    </div>

                </div>
            </div>
        </EditForm>
    </div>
</section>